li{
  list-style:none;
  width:60px;
  background-color:#004F93;
  border-style:solid;
  border-width:2px;
  border-color:white;
  float:left;
}

li a {
  color:white;
}

li:hover {
  background-color:#008F93
}
