#menu li{
  list-style:none;
  width:120px;
  background-color:#004F93;
  border-style:solid;
  border-width:2px;
  border-color:white;
  float:left;
}

li a {
  color:white;
}

#menu li:hover {
  background-color:#008F93;
}

#menu li ul{
  position:relative;
  display:none;
}

#menu li ul li{
  position:relative;
}

#menu li:hover #dropdown{
  display:block;
}

#menu li:hover #dropdown2{
  display:block;
}
